<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}GT-09: Interoperabilidade no SUS Digital{% endblock %}</title>
    
    <link rel="icon" href="https://img.icons8.com/ios-filled/50/000000/medical-doctor.png" type="image/png">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    {% block head_extra %}{% endblock %}
</head>
<body>

    {% block header %}
        {% endblock %}


    <nav>
        <div class="container">
            <ul>
                <li><a href="{{ url_for('main.index_route') }}" 
                   class="{{ 'ativo' if active_page == 'index_route' else '' }}">Página Inicial</a></li>
                
                <li><a href="{{ url_for('main.sobre_route') }}" 
                   class="{{ 'ativo' if active_page == 'sobre_route' else '' }}">Sobre o GT-09</a></li>
                
                <li><a href="{{ url_for('main.membros_route') }}" 
                   class="{{ 'ativo' if active_page == 'membros_route' else '' }}">Membros</a></li>
                
                <li><a href="{{ url_for('main.atuacao_route') }}" 
                   class="{{ 'ativo' if active_page == 'atuacao_route' else '' }}">Linhas de Atuação</a></li>
                
                <li><a href="{{ url_for('main.publicacoes_route') }}" 
                   class="{{ 'ativo' if active_page == 'publicacoes_route' else '' }}">Publicações</a></li>
                
                <li><a href="{{ url_for('main.noticias_route') }}" 
                   class="{{ 'ativo' if active_page == 'noticias_route' else '' }}">Notícias</a></li>
                
                <li><a href="{{ url_for('main.contato_route') }}" 
                   class="{{ 'ativo' if active_page == 'contato_route' else '' }}">Contato</a></li>
            </ul>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 GT-09 Interoperabilidade e Parcerias. Todos os direitos reservados.</p>
            <p>Vinculado à UFPB</p>
        </div>
    </footer>

</body>
</html>