{% extends "base.html" %}

{% block title %}
Contato | GT-09 Interoperabilidade no SUS Digital
{% endblock %}

{% block header %}
    <header class="hero-interno">
    </header>
{% endblock %}

{% block content %}
<section class="pagina-conteudo card">
    <h2>Entre em Contato</h2>
    <p>Se você tem dúvidas, sugestões ou interesse em colaborar, não hesite em nos contatar. Estamos abertos a novas parcerias e ao diálogo com a comunidade acadêmica e profissional.</p>

    <hr>

    <h3>Canais Principais</h3>
    
    <div class="info-contato">
        <p>Para assuntos gerais, parcerias e pesquisa:</p>
        <a href="mailto:contato.petsaude.ufpb@gmail.com" class="link-contato">
            contato.petsaude.ufpb@gmail.com
        </a>
    </div>

    <hr style="margin: 2.5rem 0;">

    <h3>Siga-nos nas Redes</h3>
    <p>Acompanhe nossas atividades, publicações e debates:</p>
    
    <div class="grid-redes-sociais">
        <a href="#" target="_blank" class="social-link twitter">
            <i class="fab fa-twitter"></i> <span>Twitter</span>
        </a>
        
        <a href="#" target="_blank" class="social-link instagram">
            <i class="fab fa-instagram"></i> <span>Instagram</span>
        </a>
        
        <a href="https://github.com/zzdavix/Site-GT09" target="_blank" class="social-link github">
            <i class="fab fa-github"></i> <span>GitHub</span>
        </a>

        </div>
</section>
{% endblock %}