{% extends "base.html" %}

{% block title %}
Nossa Equipe | GT-09 Interoperabilidade no SUS Digital
{% endblock %}

{% block header %}
    <header class="hero-interno">
    </header>
{% endblock %}

{% block content %}
<section class="pagina-conteudo">
    <h2 style="text-align: center; margin-bottom: 3rem;">Nossa Equipe</h2>

    <h3>Coordenação</h3>
    <div class="grid-membros">

        <div class="card-membro">
            <img src="https://picsum.photos/id/1005/300/300" alt="Foto do Coordenador">
            <h3>Prof. Dr. Nome do Coordenador</h3>
            <p class="funcao">Coordenador Geral</p>
            <a href="http://lattes.cnpq.br/SEU_ID_LATTES" target="_blank" class="link-lattes">
                Currículo Lattes 🔗
            </a>
        </div>

        <div class="card-membro">
            <img src="https://picsum.photos/id/1027/300/300" alt="Foto do Vice-Coordenador">
            <h3>Profa. Dra. Nome da Vice</h3>
            <p class="funcao">Vice-Coordenadora</p>
            <a href="http://lattes.cnpq.br/SEU_ID_LATTES" target="_blank" class="link-lattes">
                Currículo Lattes 🔗
            </a>
        </div>

    </div>
    <hr style="margin: 3rem 0;">

    <h3>Pesquisadores e Alunos</h3>
    <div class="grid-membros">

        <div class="card-membro">
            <img src="https://picsum.photos/id/237/300/300" alt="Foto do Aluno 1">
            <h3>Nome do Aluno de Extensão</h3>
            <p class="funcao">Aluno de Extensão | Medicina</p>
            <a href="http://lattes.cnpq.br/SEU_ID_LATTES" target="_blank" class="link-lattes">
                Currículo Lattes 🔗
            </a>
        </div>

        <div class="card-membro">
            <img src="https://picsum.photos/id/238/300/300" alt="Foto do Aluno 2">
            <h3>Nome da Aluna de Pós-Graduação</h3>
            <p class="funcao">Mestranda | Saúde Coletiva</p>
            <a href="http://lattes.cnpq.br/SEU_ID_LATTES" target="_blank" class="link-lattes">
                Currículo Lattes 🔗
            </a>
        </div>

        <div class="card-membro">
            <img src="https://picsum.photos/id/239/300/300" alt="Foto do Aluno 3">
            <h3>Nome do Aluno de TI</h3>
            <p class="funcao">Aluno de Extensão | Ciência da Computação</p>
            <a href="http://lattes.cnpq.br/SEU_ID_LATTES" target="_blank" class="link-lattes">
                Currículo Lattes 🔗
            </a>
        </div>

        <div class="card-membro">
            <img src="https://picsum.photos/id/240/300/300" alt="Foto do Aluno 4">
            <h3>Nome do Colaborador</h3>
            <p class="funcao">Pesquisador Voluntário</p>
            <a href="http://lattes.cnpq.br/SEU_ID_LATTES" target="_blank" class="link-lattes">
                Currículo Lattes 🔗
            </a>
        </div>

    </div>
</section>
{% endblock %}