{% extends "base.html" %}

{% block title %}
Nossa Equipe | GT-09 Interoperabilidade no SUS Digital
{% endblock %}

{% block header %}
    <header class="hero-interno">
    </header>
{% endblock %}

{% block content %}
<section class="pagina-conteudo">
    <h2 style="text-align: center; margin-bottom: 3rem;">Nossa Equipe</h2>

    <h3>Coordenadoras</h3>
    <div class="grid-membros">

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/ClaudiaMelo.png') }}" alt="Foto do Coordenador">
            <h3>Profa. Cláudia Melo</h3>
            <p class="funcao">Depto. Clínica e Odontologia Social <br> UFPB</p>
        </div>

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/EgmarLongo.png') }}" alt="Foto do Vice-Coordenador">
            <h3>Profa. Egmar Longo</h3>
            <p class="funcao">Depto. Fisioterapia<br>UFPB</p>
        </div>

    </div>
    <hr style="margin: 3rem 0;">

    <h3>Preceptoras</h3>
    <div class="grid-membros">

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/MariaAline.png') }}" alt="Foto da Preceptora">
            <h3>Maria Aline</h3>
            <p class="funcao">Depto. de Adesão e Habilitação aos Programas Ministeriais<br>SMS-JP</p>
        </div>

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/LaryssaAlves.png') }}" alt="Foto da Preceptora">
            <h3>Laryssa Alves</h3>
            <p class="funcao">Depto. de Acompanhamento dos Indicadores da Atenção Básica<br>SMS-JP</p>
        </div>

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/Thayse.png') }}" alt="Foto da Preceptora">
            <h3>Thayse Morais</h3>
            <p class="funcao">Odontóloga da Estratégia Saúde da Família <br>Prefeitura Municipal de Cabedelo</p>
        </div>

    </div>
    <hr style="margin: 3rem 0;">

    <h3>Monitores</h3>
    <div class="grid-membros">

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/AnnaMel.png') }}" alt="Foto de Anna Mel Cabral">
            <h3>Anna Mel Cabral</h3>
            <p class="funcao">Estudante de Odontologia<br>UFPB</p>
        </div>

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/Antomir.png') }}" alt="Foto de Antomir Santos Pereira">
            <h3>Antomir Santos Pereira</h3>
            <p class="funcao">Estudante de Medicina<br>UFPB</p>
        </div>

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/CiceroNeto.png') }}" alt="Foto de Cícero Neto">
            <h3>Cícero Neto</h3>
            <p class="funcao">Estudante de Fonoaudiologia<br>UFPB</p>
        </div>

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/DaviBarros.png') }}" alt="Foto de Davi Barros">
            <h3>Davi Barros</h3>
            <p class="funcao">Estudante de Ciência da Computação<br>UFPB </p>
        </div>

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/Giovanna.png') }}" alt="Foto de Giovanna Vilar Abrahão">
            <h3>Giovanna Vilar Abrahão</h3>
            <p class="funcao">Estudante de Psicologia<br>UFPB</p>
        </div>

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/Giulia.png') }}" alt="Foto de Giulia Sant'ana">
            <h3>Giulia Sant'ana</h3>
            <p class="funcao">Estudante de Engenharia da Computação<br>UFPB</p>
        </div>

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/Joelson.png') }}" alt="Foto de Giulia Sant'ana">
            <h3>Joelson Araújo</h3>
            <p class="funcao">Estudante de Enfermagem<br>UFPB</p>
        </div>

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/Rhonnye.png') }}" alt="Foto de Rhonnye Soares">
            <h3>Rhonnye Soares</h3>
            <p class="funcao">Estudante de Ciência da Computação<br>UFPB</p>
        </div>

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/Kennedy.png') }}" alt="Foto de Kennedy Oliveira">
            <h3>Kennedy Oliveira</h3>
            <p class="funcao">Estudante de Enfermagem<br>UFPB</p>
        </div>

        <div class="card-membro">
            <img src="{{ url_for('static', filename='images/SauloCosta.png') }}" alt="Foto de Saulo Costa">
            <h3>Saulo Costa</h3>
            <p class="funcao">Estudante de Engenharia da Computação<br>UFPB</p>
        </div>
        
    </div>
</section>
{% endblock %}